@charset "UTF-8";

body {
	background-color: rgba(211, 211, 211, 0.46);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.wrapper {
	padding-top: 110px;
	padding-left: 160px;
}
@media (max-width: 1199px) {
	.wrapper {
		padding-bottom: 50px;
		padding-left: 0;
	}
}

/* Landing Page Settings */
/*.landing-page {
	padding-right: 160px;
}*/

@media (max-width: 1199px) {
	.landing-page {
		/*padding-left: 80px;
		padding-right: 80px;*/
	}
}

.tagline {
	font-style: italic;
	font-size: 80%;
}

.spinner-container {
	margin: auto;
	padding-top: 100px;
}

/* Navigation Bar Components */
.mybrand {
	font-family: modak;
	color: black !important;
	font-size: 36px;
	  text-shadow:
   		-1px -1px 0 #FFFFFF,  
    	1px -1px 0 #FFFFFF,
    	-1px 1px 0 #FFFFFF,
     	1px 1px 0 #FFFFFF !important; 
}
@media (max-width: 480px) {
	.mybrand {
		font-size: 28px;
		padding: 15px 0 0 0;
	}
}

.category-title {
	font-family: permanent marker;
	color: white;
	font-size: 22px;
	margin: auto;
	text-align: center;
	float: none;
}
@media (max-width: 480px) {
	.category-title {
		font-size: 20px;
	}
}

.description-input {
	resize: vertical;	
}

.modal-description-body {
	height: 180px;
	overflow-y: auto;
}

.price-tag {
	text-align: center;
	font-size: 40px;
}

.modal-text {
	word-wrap: break-word;
}
	
.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.nav-usertext {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	color: white !important;
}

.navbar-btn-half {
	margin-top: 4px;
	margin-bottom: 4px;
}

.navbar-category {
	text-align: center;
	float: none;
}

.navbar-content {
	color: white;
	text-align: center;
}

.navbar-left-button {
	margin-left: 10px;
}

.navbar-right-button {
	margin-right: 10px;
}

.dropdownMenu1 {
	padding: 0px;
	margin: 0px;
}

.bottom-nav {
	height: 50px;
}

.navbar-cust1 {
	background-color: #48C9CB;
}

.arrow {
	font-size: 9px;
}

.smchar {
	font-size: 10px;
}

.lgchar {
	font-size: 14px;	
}

.btn-custom.active {
	background-color: #48C9CB;
}

.mobile-nav {
	height: 30px;
}

.btn-createpost {
	margin-left: 15px;
}

.navmenu, .navbar-offcanvas {
	width: auto;
}

/* Item Display */
.top-pagination {
	margin: 0 0 0 0;
	list-style-type: square;
}

.top-pagination li>a, .top-pagination li>span {
	border-radius: 0;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
	background-color: #48C9CB;
    border-color: #48C9CB;
}

a {
	color: black;	
}



.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a {
	color: black;
}


.pagination>li>a,
.pagination>li>span {
	color: black;
}

.itemdisplay-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	margin: 0;
}

.itemdisplay-price {
	position: relative;
	float: right;
	margin-top: -35px;
	color: white;
	font-size: 120%;
	background: #48C9CB;
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
}

.itemdisplay-button {
	position: absolute;
	top:0;
	margin-top:5%;
	margin-left:-1%;
}

.email-row {
	padding-top: 5px;
	padding-right: 10px;
}

.email-display-box {
	margin-top: -17px;
}

.edit-item-button {
	margin-top: -20px;
    margin-right: -10px;
}

.thumbnail {
	margin: auto auto 20px auto;
	max-width: 250px;
}

/* New Posting Form */
.form-image-upload {
	margin-top: 14px;
}

/* Sidebar Navigation */
.hamburger-menu {
	padding-top: 110px;
	padding-bottom: 50px;
}

.pager {
	margin-left:4%;
	margin-right:4%;
}

.twopixelsam {
	padding-left: 15px;
	padding-right: 15px;
}

.centertxt {
	text-align: center;
}

/* Bootstrap Override */

.label-primary {
	background-color: #48C9CB;
}

.imagepadding {
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 9px;
}
/* ------------------------------- Landing Page ------------------------------------ */


@media screen and (min-width: 1200px) {
	
		.jumbotron#intro {z-index: 2;
	padding-top: 100px; 
	background-image: url(../images/Untitled-1.png); 
	background-repeat: no-repeat; 
	background-size: cover;
	margin-bottom:inherit;
	width: 100%;
	height: 750px;}


	/*UCONN BOS*/
	 /* Carousel Overlay */
	.carousel-overlay {
		position: absolute;
		bottom: 0px;
		right: 0;
		left: 0;
		top: 1%;
	}

	h1#buyor {
	font-size: 60px;
	}

	.h1_class {
	font-family: 'Modak', cursive;
	color: #000000;
	font-size:100px;
	text-align:center;
	}	

	.buyorselldesrow {
		margin-top: 80px;
		background: rgba(255, 255, 255, 0.53);
	}

	.buyorselltxt1 {
		font-size: 35px;
	}

	.buyorselltxt2 {
		font-size: 20px;
	}

	/*Craigslist*/
	h1#craigslist {
	font-size: 75px;
	margin-top: 10%;
	}
	section#craig2 {
		margin-top: 20%;
		margin-right: 40px;
	}

	.craigtxt1 {
		font-size: 50px;
	}

	.craigtxt2 {
		font-size: 20px;
	}


	/*What Sets Us Apart*/
	.jumbotron#apart{
		height: auto;
	}

	.h4_class {
		font-size: 25px;
	}


	/*Future Features*/
	img#future {
		margin-left:35%;
	}

	p#future {
		margin-right: 10%;
		font-size: 20px;
	}

	.futuretxt1 {
		margin-top:4%;
	}

	.futuretxt2{
		margin-top:10%;
	}

	.spacing {
		margin-top: 20px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
		/*UCONN BOS*/
	 /* Carousel Overlay */
	.carousel-overlay {
		position: absolute;
		bottom: 0px;
		right: 0;
		left: 0;
		top: 1%;
	}

	.jumbotron#intro {z-index: 2;
	padding-top: 100px; 
	background-image: url(../images/Untitled-1.png); 
	background-repeat: no-repeat; 
	background-size: cover;
	margin-bottom:inherit;
	width: 100%;
	height: 750px;}

	h1#buyor {
	font-size: 50px;
	}

	.h1_class {
	font-family: 'Modak', cursive;
	color: #000000;
	font-size:100px;
	text-align:center;
	}	

	.buyorselldesrow {
		margin-top: 60px;
		background: rgba(255, 255, 255, 0.53);
	}

	.buyorselltxt1 {
		font-size: 25px;
	}

	.buyorselltxt2 {
		font-size: 18px;
	}

	/*Craigslist*/
	h1#craigslist {
	font-size: 60px;
	margin-top: 10%;
	}
	section#craig2 {
		margin-top: 20%;
		margin-right: 40px;
	}

	.craigtxt1 {
		font-size: 35px;
	}

	.craigtxt2 {
		font-size: 18px;
	}


	/*What Sets Us Apart*/
	.jumbotron#apart{
		height: auto;
		padding-top: 0px;
	}

	.h4_class {
		font-size: 25px;
	}

	.addmargins {
		margin-left: 0px;
	}

	/*Future Features*/
	img#future {
		margin-left:40%;
	}

	p#future {
		margin-right: 10%;
		font-size: 20px;
	}

	.futuretxt1 {
		margin-top:4%;
		margin-left: 15%;
	}

	.futuretxt2{
		margin-top:5%;
		margin-left:15%;
	}

	.spacing {
		margin-top: 20px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px){
			/*UCONN BOS*/
	 /* Carousel Overlay */
	.carousel-overlay {
		position: absolute;
		bottom: 0px;
		right: 0;
		left: 0;
		top: 1%;
	}

	.jumbotron#intro {z-index: 2;
	padding-top: 100px; 
	background-image: url(../images/Untitled-1.png); 
	background-repeat: no-repeat; 
	background-size: cover;
	margin-bottom:inherit;
	width: 100%;
	height: 750px;}

	h1#buyor {
	font-size: 35px;
	}

	.h1_class {
	font-family: 'Modak', cursive;
	color: #000000;
	font-size:45px !important;
	text-align:center;
	}	

	.buyorselldesrow {
		margin-top: 30px;
		background: rgba(255, 255, 255, 0.53);
	}

	.buyorselltxt1 {
		font-size: 16px;
	}

	.buyorselltxt2 {
		font-size: 14px;
	}

	/*Craigslist*/
	h1#craigslist {
	font-size: 55px;
	margin-top: 5%;
	}
	section#craig2 {
		margin-top: 5%;
		margin-right: 40px;
		margin-left: 50px;
	}

	.craigtxt1 {
		font-size: 35px;
	}

	.craigtxt2 {
		font-size: 18px;
	}


	/*What Sets Us Apart*/
	.jumbotron#apart{
		height: auto;
		padding-top: 0px;
	}

	.h4_class {
		font-size: 25px !important;
	}

	.addmargins {
		margin-left: 0px;
	}

	/*Future Features*/
	img#future {
		margin-left:40%;
	}

	p#future {
		margin-right: 10%;
		font-size: 20px;
	}

	.futuretxt1 {
		margin-top:4%;
		margin-left: 15%;
	}

	.futuretxt2{
		margin-top:5%;
		margin-left:15%;
	}

	.spacing {
		margin-top: 20px;
	}
}


@media screen and (max-width: 767px){
			.jumbotron#intro {z-index: 2;
	padding-top: 100px; 
	background-image: url(../images/Untitled-1.png); 
	background-repeat: no-repeat; 
	background-size: cover;
	margin-bottom:inherit;
	width: 100%;
	height: 600px;}

	.jumbotxt {
		font-size: 16px !important;
	}



			/*UCONN BOS*/
	 /* Carousel Overlay */
	.carousel-overlay {
		position: absolute;
		bottom: 0px;
		right: 0;
		left: 0;
		top: 1%;
	}

	.container-fluid#caro {
		height: 300px !important;
	}

	h1#buyor {
	font-size: 25px;
	}

	.h1_class {
	font-family: 'Modak', cursive;
	color: #000000;
	font-size:45px;
	text-align:center;
	}	

	.buyorselldesrow {
		margin-top: 30px;
		background: rgba(255, 255, 255, 0.53);
	}

	.buyorselltxt1 {
		font-size: 12px !important;
	}

	.buyorselltxt2 {
		font-size: 10px !important;
	}

	/*Craigslist*/
	h1#craigslist {
	font-size: 35px;
	margin-top: 5%;
	}
	section#craig2 {
		margin-top: 5%;
		margin-right: 40px;
		margin-left: 50px;
	}

	.craigtxt1 {
		font-size: 16px !important;
	}

	.craigtxt2 {
		font-size: 12px !important;
	}

	.row#craigslist {
		background-image: url(../images/2ndback.png);
		background-size: cover;
		background-repeat: no-repeat;
		height: 450px !important;
	}

	/*What Sets Us Apart*/
	.jumbotron#apart{
		height: auto;
		padding-top: 0px;
	}

	.h4_class {
		font-size: 25px !important;
	}

	.addmargins {
		margin-left: 0px;
	}

	/*Future Features*/
	img#future {
		margin-left:20%;
	}

	p#future {
		margin-right: 10%;
		font-size: 14px;
	}

	.futuretxt1 {
		margin-top:4%;
		margin-left: 15%;
	}

	.futuretxt2{
		margin-top:5%;
		margin-left:15%;
	}

	.spacing {
		margin-top: 20px;
	}
}









.loginbtn {
	border: 1px solid black;
	color: black;
}

.loginbtn:hover {
	border: 1px solid white;
	color: white;
	background: rgba(255, 255, 255, 0.32);
}

.getfat {
	padding-left: 18px;
	padding-right: 18px;
	margin-right: 10px;
}


	
.h1_class {
	font-family: 'Modak', cursive;
	color: #000000;
	font-size:100px;
	text-align:center;
}

.h2_class, .h3_class, .h4_class {
	font-family: 'Poppins', sans-serif;
	color:#77B4B4;
}


.head, .print_class, .future, .li_class, .ul_class {
	font-family: 'Poppins', sans-serif; color:#4E4D4D;
}

.dobetter {
	z-index: 3;
	display:block;
	position:absolute;
}
	
.jumbotron#dobetter {
	padding: 0;
	margin: 0;
}

.carousel-control.left, .carousel-control.right{ 
	background: none !important; 
	filter: progid:none !important; 
	display: none;
}

.carousel-indicators li {
	visibility: hidden;
}


.row#craigslist {
	background-image: url(../images/2ndback.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}
	
/*h1#craigslist {
	font-size: 100px;
	margin-top: 20%;
}
section#craig2 {
	margin-top: 20%;
}*/


	
.row#future {
	height: auto;
}

@media screen and (max-width: 992px) {
  .head,.print_class, .future,.btn_class,.div_class,.h4_class {
    font-size: 95%;
  }
  .h1_class {
    font-size: 100px;  
  }
  .h2_class {
    font-size: 22px;  
  }
  .h3_class {
    font-size: 18px;  
  }
}

@media screen and (max-width: 768px) {
  .head,.print_class,.future,.btn_class,.div_class,.h4_class {
    font-size: 90%;
  }
  .h1_class {
    font-size: 60px;  
  }
  .h2_class {
    font-size: 18px;  
  }
  .h3_class {
    font-size: 16px;  
  }
  
  .print_class { 
  	font-size:10px;
}

  .h1_class {
    font-size: 60px;  
  }
  .h2_class {
    font-size: 18px;  
  }
  .h3_class {
    font-size: 16px;  
  }
  
  .print_class { 
  	font-size:10px;
}
	
p#buyortext {
 font-size: 12px;}
}

.menu-container{
  width: 100%;
  padding: 10px 0;
  background-color: rgba(177,177,177,0.00);
  position: fixed;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  margin-top: 120px;
  z-index: 10;
}


.menu {
  margin-left:20%;
  display: inline-block;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
}
.menu img {
	width:100%;
}


p#head {
	margin-top:22%;
	padding-top: 75px;
}

.top.menu-container {
  padding: 5px 0;
  margin-top: 0;
  background: #77D7D8;
}
.top .menu {
  margin-left: 2%;
}

.top .menu img {
  width: 150px;
}


h3#future {
	margin-left:20%;
}


footer {
	text-align: center;
}

.container-fluid#caro {
	height: auto;
}

/* File Drop CSS */

.center-wrapper {
	text-align: center;
}

.center-wrapper div {
	display: inline-block;
}

.upload-text {
	text-align: center;
	height: 200px;
	line-height: 200px;
}

.slider-container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}