@charset "UTF-8";

body {
	background-color: rgba(211, 211, 211, 0.46)
}

/*Navigation Bar Components*/
.mybrand {
	font-family: modak;
	color: black !important;
	font-size: 36px;
}

.btn-user {
	background-color: white;
}

.mybrand-sm {
	font-family: modak;
	color: black !important;
	font-size: 28px;
	/* [disabled]-webkit-text-stroke: 1px grey; */
	padding-top: 20px !important;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.category-title {
	font-family: permanent marker;
	color: #E17B42;
	font-size: 22px;
	/*-webkit-text-stroke: 1px #FFFFFF;*/
	margin: auto;
	text-align: center;
	float: none;
}

.category-title-sm {
	font-family: permanent marker;
	color: #E17B42;
	font-size: 20px;
	margin:auto;
	text-align: center;
	float: none;
}
	
.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.nav-usertext {
	margin-top: 8px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	color: white
	!important;
}

.navbar-category {
	text-align: center;
	float: none;
}

.navbar-content {
	color: white;
	text-align: center;
}

.navbar-left-button {
	margin-left: 10px;
}

.navbar-right-button {
	margin-right: 10px;
}

.dropdownMenu1 {
	padding: 0px;
	margin: 0px;
}

.navbar-cust1 {
	background-color: #48C9CB;
}


.arrow {
	font-size: 9px;
}

.smchar {
	font-size: 10px;
}

.lgchar {
	font-size: 14px;	
}

.btn-custom.active {
	background-color:#48C9CB !important;
}

.btn-createpost {
	margin-left: 15px;
}

.nopads {
	padding-left: 0px;
	padding-right: 0px;
}

.wrapper {
	margin-top: 100px;
}