@charset "UTF-8";

body {
	background-color: rgba(211, 211, 211, 0.46);
	padding-top: 110px;
	padding-left: 160px;
}
@media (max-width: 1199px) {
	body {
		padding-bottom: 50px;
		padding-left: 0;
	}
}

/* Landing Page Settings */
.landing-page {
	padding-right: 160px;
}
@media (max-width: 1199px) {
	.landing-page {
		padding-left: 80px;
		padding-right: 80px;
	}
}

.tagline {
	font-style: italic;
	font-size: 80%;
}

.spinner-container {
	margin: auto;
	padding-top: 100px;
}

/* Navigation Bar Components */
.mybrand {
	font-family: modak;
	color: black !important;
	font-size: 36px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
@media (max-width: 480px) {
	.mybrand {
		font-size: 28px;
		padding: 15px 0 0 0;
	}
}

.category-title {
	font-family: permanent marker;
	color: white;
	font-size: 22px;
	margin: auto;
	text-align: center;
	float: none;
}
@media (max-width: 480px) {
	.category-title {
		font-size: 20px;
	}
}
	
.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.nav-usertext {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	color: white !important;
}

.navbar-btn-half {
	margin-top: 4px;
	margin-bottom: 4px;
}

.navbar-category {
	text-align: center;
	float: none;
}

.navbar-content {
	color: white;
	text-align: center;
}

.navbar-left-button {
	margin-left: 10px;
}

.navbar-right-button {
	margin-right: 10px;
}

.dropdownMenu1 {
	padding: 0px;
	margin: 0px;
}

.navbar-cust1 {
	background-color: #245580;
}

.arrow {
	font-size: 9px;
}

.smchar {
	font-size: 10px;
}

.lgchar {
	font-size: 14px;	
}

.btn-custom.active {
	background-color: #48C9CB;
}

.mobile-nav {
	height: 30px;
}

.btn-createpost {
	margin-left: 15px;
}

.navmenu, .navbar-offcanvas {
	width: auto;
}

/* Item Display */

.itemdisplay-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	margin: 0;
}

.itemdisplay-price {
	position: relative;
	float: right;
	margin-top: -35px;
	color: white;
	font-size: 120%;
}

.itemdisplay-button {
	position: relative;
	float: left;
	margin-top: -46px;
	margin-left: -7px;
}

.thumbnail {
	margin: auto auto 20px auto;
	max-width: 250px;
}

/* New Posting Form */
.form-image-upload {
	margin-top: 14px;
}

/* Sidebar Navigation */


.hamburger-menu {
	padding-top: 110px;
	padding-bottom: 50px;
}